<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= asset_path 'components/banner.jpg' %>);">
    <h4>Sale up to -50%!</h4>

    <%= render 'shared/searchbar' %>

</div>