<div class="input-group rounded searchbar mt-4">
  <input type="search" class="mx-1 form-control rounded" style="width:40%" placeholder="Search by phrase" aria-label="Search"
    aria-describedby="search-addon" />
  
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>