<div class="side-menu">
    <p>Filter by:</p>
     <div class="dropdown">
        <button class="btn dropdown-toggle sizes-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose your size:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p class="dropdown-item size" href="#">4.5</p>
            <p class="dropdown-item size" href="#">5</p>
            <p class="dropdown-item size" href="#">5.5</p>
            <p class="dropdown-item size" href="#">6</p>
            <p class="dropdown-item size" href="#">7</p>
        </div>
        <button class="btn bordered add-item"><strong>Add to basket</strong></button>
    </div>
</div>