.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row-reverse;
  z-index: 999;
  background-color: #F4F4F4;

  .navbar-menu {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .dropdown-menu {
    background-color: #F4F4F4;
    border: none;
  }
  .dropdown button{
    color: black;
  }
  .logo {
    height: 90px;
    margin-right: 20px;
  }
  .basket {
    padding-top: 8px;
    display: block;
    margin-left: 80%;
    display: flex;
    justify-content: space-between;
    
      .total-price {
        padding-left: 8px;
      }

      a{
        text-decoration: none;
        color: black;
        font-size: 150%;
      }
  }
  .hamburger {
    position: absolute;
    top: 30%;
    right: 30px;
    display: none;
    i {
      font-size: 30px;
    }
  }
}



@media only screen and (max-width: 580px) {
  .navbar {
    justify-content: center;
    height: 100px!important;

    .hamburger {
      display: block;
    }
    .logo {
      
      height: 65px!important; 
    }
    .navbar-menu {
      display:none;
    }
    .navbar-menu.show {
      display:block;
    }

    .basket {
      align-items: center;
      flex-direction: column;
      .total-price {
        padding: 0;
      }
      

    .badge-secondary {
      width: 20%;
      display:none;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .navbar .basket {
    margin-left: 90%;
    
    }
  }
 
}