.order {
    top: 150px; 
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
 
    width: 60%;
    margin: auto;
    padding: 40px;
    
        .summary {
        
        display: flex;
        
    }

    .delivery-payment-options {
        width: 40%;

        .calculate-total {
            font-size: 20px;
        }
    }
    .simple_form {
        .col-form-label, label.select {
            font-weight: 700;
        }
    }
    
}
@media only screen and (max-width: 580px) {
    .order {
        flex-direction: column;
        width: 95%;
        height: auto;

        .delivery-payment-options {
            width: 100%;
        }
    }

}
