.home {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.promo-belt {
    padding: 10px;
    background-color: pink;
    margin: 20px 0;
    .promo-cards {
        justify-content: space-evenly;
        .promo-card {
            width: 49%;
            height: 233px;
            background-position: bottom;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width:1500px;
    margin: auto;

}
.products {
    margin-top: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.product {
    height: 250px;
    width: 200px;
    padding: 10px 20px;
    margin: 0px 40px;
    .description {
        margin-top : 5px;
        a {
            text-decoration: none;
            color: black;
        }

        .product-name {
            margin:auto;
            min-height: 44px;
        }

        .price {
            margin-top: 0;
        } 
    }

    img { 
        width: 100%;

    }
}
@media only screen and (max-width: 580px) {
   .home {
       padding-top: 0;
   }
}