.searchbar {
    display: flex;
    justify-content: center;
    width: 50%;

    input {
        background: rgba(255,255,255,0.3);
    }
    .input-group-text {
        background: rgba(255,255,255,0.8);;
    }
}
@media only screen and (max-width: 580px) {
    
    .searchbar {
        width: 65%;
    }
}