.side-menu {
    position: sticky;
    top: 100px;
    left: 15px;
    width: 150px;
    height: 80vh;;
    padding-top: 50px;
    font-size: small;

}

@media only screen and (max-width: 580px) {
  .side-menu {
      display: none;
  }
}
